<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="get">
        {% csrf_token %}
    <h2 align-="center">Wellcome to my site all he for you</h2>
    <div>
        <ul>
            <li><a href="">zHome</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
    </div>
</form>
</body>
</html>